<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="<%= cssfile %>" />
    <link rel="stylesheet" type="text/css" href="<%= sweetalert %>" />
    <script type="text/javascript" src="<%= sweetalertJs %>" ></script>
    <script>    
        $CONFIG = {};
        $CONFIG['getlist'] = "http://localhost:8081/getlist";
        $CONFIG['getinfo'] = "http://localhost:8081/getinfo";
        $CONFIG['getret'] = "http://localhost:8081/getret";
    </script>
  </head>
  <body>
      <% include components %>
    <script type="text/javascript" src= <%= jsfile %> ></script>
    <!--将来添加js，css留着用-->
  </body>
</html>